<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
<div th:replace="fragments/navbar :: body"></div>
<div class="container mt-5">
    <div class="card shadow p-5 text-center">
        <h1 class="mb-4 text-primary">Welcome to Books Management</h1>
        <a href="/books" class="btn btn-primary btn-lg">Go to Book List</a>
    </div>
</div>
</body>
</html>
